/* Navigation Styling */
.navigation {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(204, 203, 203);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 28px;
  padding: 0 10px;
}

.navSection ul {
  display: flex;
  background-color: #fff;
}

.navSection ul li a {
  display: block;
  padding: 16px;
  text-decoration: none;
  color: #000;
}

.navSection ul li a:hover {
  color: #fff;
  background-color: #aa273d;
}

.menuButton {
  display: none;
}

.menuButton span {
  height: 4px;
  width: 25px;
  display: block;
  position: relative;
  margin: 5px;
  border-radius: 5px;
  background-color: #aa273d;
  transition: 0.75s ease-in-out;
}

@media screen and (max-width: 800px) {
  .navigation {
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    border: none;
  }

  .logo {
    padding: 15px 30px 15px 15px;
    margin: 0;
    border-bottom: 1px solid rgb(204, 203, 203);
  }

  .menuButton {
    display: block;
    position: absolute;
    right: 10px;
  }

  .animateMenuButton :nth-child(1) {
    transform: rotate(45deg);
    transform-origin: left;
  }

  .animateMenuButton :nth-child(2) {
    transform: translate(-8px);
    opacity: 0;
  }

  .animateMenuButton :nth-child(3) {
    transform: rotate(-45deg);
    transform-origin: left;
  }

  .navSection {
    height: 100%;
    display: flex;
    position: relative;
    left: 100%;
    z-index: 3;
    transition: 0.5s ease-in-out;
  }

  .animateNavSection {
    left: 0;
  }

  .navSection ul {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .navSection ul li {
    width: 100%;
  }

  .navSection ul li a {
    padding: 25px;
    text-align: center;
    border-bottom: 1px solid rgb(204, 203, 203);
  }
}
