/* Navigation Styling */
.navigation {
  overflow: hidden;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(204, 203, 203);
}

.logo {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.logo img {
  height: 28px;
  padding: 0 10px;
}

.navLinks ul {
  display: flex;
  background-color: white;
}

.navLinks ul a {
  display: block;
  padding: 16px;
  color: black;
  text-decoration: none;
}

.navLinks ul li a:hover {
  color: #fff;
  background-color: #aa273d;
}

.menu {
  display: none;
  right: 10px;
  position: absolute;
}

.menu span {
  display: block;
  width: 25px;
  height: 4px;
  background-color: #aa273d;
  margin: 5px;
  border-radius: 5px;
  position: relative;
  transition: 0.75s ease-in-out;
}

@media screen and (max-width: 800px) {
  .navigation {
    width: 100%;
    display: block;
    border: none;
    position: absolute;
    height: 100%;
  }

  .logo {
    padding: 15px 30px 15px 15px;
    margin: 0;
    border-bottom: 1px solid rgb(204, 203, 203);
  }

  .menu {
    display: block;
  }

  .animateBtn :nth-child(1) {
    transform: rotate(45deg);
    transform-origin: left;
  }

  .animateBtn :nth-child(2) {
    transform: translate(-8px);
    opacity: 0;
  }

  .animateBtn :nth-child(3) {
    transform: rotate(-45deg);
    transform-origin: left;
  }

  .navLinks {
    height: 100%;
    background-color: white;
    position: relative;
    display: flex;
    z-index: 3;
    left: 100%;
    transition: 0.5s ease-in-out;
  }

  .animateNav {
    left: 0;
  }

  .navLinks ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navLinks ul li {
    width: 100%;
  }

  .navLinks.closed {
    display: none;
  }

  .toggle {
    display: block;
  }

  .navLinks ul a {
    border-bottom: 1px solid rgb(204, 203, 203);
    text-align: center;
    padding: 25px;
  }
}
