/* Index CSS */
.wrapper {
  width: 65%;
  margin: 0 auto;
  clear: both;
  font-family: 'Valera Round', sans-serif;
  font-size: 16px;
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  .wrapper {
    width: 85%;
  }
}

@media screen and (max-width: 800px) {
  .wrapper {
    width: 100%;
    font-size: 24px;
  }

  .container {
    position: relative;
    top: 70px;
  }
}
